<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iams.manage.mapper.CabinetMapper">
    
    <resultMap type="Cabinet" id="CabinetResult">
        <result property="id"    column="id"    />
        <result property="bianhao"    column="bianhao"    />
        <result property="name"    column="name"    />
        <result property="repositoryId"    column="repository_id"    />
        <result property="quNo"    column="qu_no"    />
        <result property="colNo"    column="col_no"    />
        <result property="leNo"    column="le_no"    />
        <result property="divNo"    column="div_no"    />
        <result property="zyNo"    column="zy_no"    />
        <result property="capacity"    column="capacity"    />
        <result property="size"    column="size"    />
        <result property="temperature"    column="temperature"    />
        <result property="moisture"    column="moisture"    />
        <result property="oxygen"    column="oxygen"    />
        <result property="waterlogging"    column="waterlogging"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCabinetVo">
        select id, bianhao, name, repository_id, qu_no, col_no, le_no, div_no, zy_no, capacity, size, temperature, moisture, oxygen, waterlogging, create_time, create_by, update_time, update_by, remark from tb_cabinet
    </sql>

    <select id="selectCabinetIds" parameterType="cabinet" resultType="java.lang.Long">
        SELECT id FROM tb_cabinet
        <where>
            <!-- 可以动态拼接查询条件 -->
            <if test="quNo != null"> AND qu_no = #{quNo} </if>
            <if test="colNo != null"> AND col_no = #{colNo} </if>
            <if test="zyNo != null"> AND zy_no = #{zyNo} </if>
        </where>
    </select>


    <select id="selectCabinetList" parameterType="Cabinet" resultMap="CabinetResult">
        <include refid="selectCabinetVo"/>
        <where>  
            <if test="bianhao != null  and bianhao != ''"> and bianhao = #{bianhao}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="repositoryId != null "> and repository_id = #{repositoryId}</if>
            <if test="quNo != null "> and qu_no = #{quNo}</if>
            <if test="colNo != null "> and col_no = #{colNo}</if>
            <if test="zyNo != null "> and zy_no = #{zyNo}</if>
            <if test="leNo != null "> and le_no = #{leNo}</if>
            <if test="divNo != null "> and div_no = #{divNo}</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="size != null "> and size = #{size}</if>
        </where>
        ORDER BY id
    </select>
    
    <select id="selectCabinetById" parameterType="Long" resultMap="CabinetResult">
        <include refid="selectCabinetVo"/>
        where id = #{id}
    </select>

    <insert id="insertCabinet" parameterType="Cabinet" useGeneratedKeys="true" keyProperty="id">
        insert into tb_cabinet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bianhao != null and bianhao != ''">bianhao,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="repositoryId != null">repository_id,</if>
            <if test="quNo != null">qu_no,</if>
            <if test="colNo != null">col_no,</if>
            <if test="leNo != null">le_no,</if>
            <if test="divNo != null">div_no,</if>
            <if test="zyNo != null">zy_no,</if>
            <if test="capacity != null">capacity,</if>
            <if test="size != null">size,</if>
            <if test="temperature != null">temperature,</if>
            <if test="moisture != null">moisture,</if>
            <if test="oxygen != null">oxygen,</if>
            <if test="waterlogging != null">waterlogging,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bianhao != null and bianhao != ''">#{bianhao},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="repositoryId != null">#{repositoryId},</if>
            <if test="quNo != null">#{quNo},</if>
            <if test="colNo != null">#{colNo},</if>
            <if test="leNo != null">#{leNo},</if>
            <if test="divNo != null">#{divNo},</if>
            <if test="zyNo != null">#{zyNo},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="size != null">#{size},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="moisture != null">#{moisture},</if>
            <if test="oxygen != null">#{oxygen},</if>
            <if test="waterlogging != null">#{waterlogging},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCabinet" parameterType="Cabinet">
        update tb_cabinet
        <trim prefix="SET" suffixOverrides=",">
            <if test="bianhao != null and bianhao != ''">bianhao = #{bianhao},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="repositoryId != null">repository_id = #{repositoryId},</if>
            <if test="quNo != null">qu_no = #{quNo},</if>
            <if test="colNo != null">col_no = #{colNo},</if>
            <if test="leNo != null">le_no = #{leNo},</if>
            <if test="divNo != null">div_no = #{divNo},</if>
            <if test="zyNo != null">zy_no = #{zyNo},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="size != null">size = #{size},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="moisture != null">moisture = #{moisture},</if>
            <if test="oxygen != null">oxygen = #{oxygen},</if>
            <if test="waterlogging != null">waterlogging = #{waterlogging},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCabinetById" parameterType="Long">
        delete from tb_cabinet where id = #{id}
    </delete>

    <delete id="deleteCabinetByIds" parameterType="String">
        delete from tb_cabinet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据仓库ID、区、列和左右查询档案柜 -->
    <select id="selectCabinetByLocation" parameterType="map" resultType="Cabinet">
        SELECT *
        FROM tb_cabinet
        WHERE repository_id = #{repositoryId}
          AND qu_no = #{quNo}
          AND col_no = #{colNo}
          AND zy_no = #{zyNo}
    </select>

    <select id="selectCabinetByQuNo" parameterType="map" resultType="Cabinet">
        SELECT *
        FROM tb_cabinet
        WHERE repository_id = #{repositoryId}
          AND qu_no = #{quNo}
    </select>

    <select id="getCabinetByQuNoList" parameterType="java.lang.Long" resultType="Cabinet">
        SELECT *
        FROM tb_cabinet
        WHERE qu_no IN
        <foreach item="quNo" collection="array" open="(" separator="," close=")">
            #{quNo}
        </foreach>
    </select>
    <select id="getUsedCabinet" resultType="Cabinet">
        SELECT *
        FROM tb_cabinet
        WHERE size != 0
    </select>


</mapper>