<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iams.manage.mapper.ProjectMapper">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="bianhao"    column="bianhao"    />
        <result property="description"    column="description"    />
        <result property="leader"    column="leader"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="archiveCount"    column="archive_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="hasCertificate"    column="has_certificate"    />
        <result property="certUrl"    column="cert_url"    />
    </resultMap>

    <sql id="selectProjectVo">
        select id, name, bianhao, description, leader, start_time, end_time, archive_count, create_time, create_by, update_time, update_by, remark, has_certificate, cert_url from tb_project
    </sql>

    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="bianhao != null and bianhao != ''"> AND bianhao LIKE CONCAT('%', #{bianhao}, '%')</if>
<!--            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>-->
            <if test="leader != null and leader != ''">
                and leader like concat('%', #{leader}, '%')
            </if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
        order by bianhao ASC
    </select>
    
    <select id="selectProjectById" parameterType="Long" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where id = #{id}
    </select>

    <insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyProperty="id">
        insert into tb_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="bianhao != null and bianhao != ''">bianhao,</if>
            <if test="description != null">description,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="archiveCount != null">archive_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="hasCertificate != null">has_certificate,</if>
            <if test="certUrl != null and certUrl != ''">cert_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="bianhao != null and bianhao != ''">#{bianhao},</if>
            <if test="description != null">#{description},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="archiveCount != null">#{archiveCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="hasCertificate != null">#{hasCertificate},</if>
            <if test="certUrl != null and certUrl != ''">#{certUrl},</if>
         </trim>
    </insert>

    <update id="updateProject" parameterType="Project">
        update tb_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="bianhao != null and bianhao != ''">bianhao = #{bianhao},</if>
            <if test="description != null">description = #{description},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="archiveCount != null">archive_count = #{archiveCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="hasCertificate != null">has_certificate = #{hasCertificate},</if>
            <if test="certUrl != null and certUrl != ''">cert_url = #{certUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectById" parameterType="Long">
        delete from tb_project where id = #{id}
    </delete>

    <delete id="deleteProjectByIds" parameterType="String">
        delete from tb_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 更新项目档案数量 -->
<!--    <update id="updateArchiveCount">-->
<!--        update tb_project-->
<!--        set archive_count = #{count},-->
<!--            update_time = CURRENT_TIMESTAMP-->
<!--        where id = #{projectId}-->
<!--    </update>-->
    <update id="updateArchiveCount">
        UPDATE tb_project p
        SET archive_count = (
            SELECT COUNT(1)
            FROM tb_archive a
            WHERE a.project_id = #{projectId}
        )
        WHERE id = #{projectId}
    </update>


</mapper>